# Acquire and Prep

In [ ]:
import pandas as pd
import numpy as np

## Acquire

### Using Sequel Pro Database GUI builiding out a query to acquire Zillow housing data from Zillow Database

In [1]:
def acquire(db):
    """ """
    import pandas as pd
    import numpy as np
    from env import get_db
    url = get_db(db)
    sql = """SELECT bedroomcnt as bedroom, 
    bathroomcnt as bathroom, 
    calculatedfinishedsquarefeet as square_feet,
    taxamount as tax_amount, 
    taxvaluedollarcnt as home_value, 
    proptype.propertylandusedesc as property_type, 
    fips
    FROM properties_2017 AS prop
    JOIN predictions_2017 AS pred USING (parcelid)
    JOIN propertylandusetype AS proptype USING (propertylandusetypeid)
    WHERE (transactiondate >= '2017-05-01' AND transactiondate <= '2017-06-30')
    AND (propertylandusedesc = 'Single Family Residential')
    AND prop.bedroomcnt > 0
    AND prop.bathroomcnt > 0
    AND prop.taxvaluedollarcnt > 0
    AND prop.lotsizesquarefeet > 0
    ORDER BY fips;
    """
    df = pd.read_sql(sql, url)
    return df

In [2]:
# #### if time allows this is all the information that I would be interested in looking at

# full sql query:
# sql_full = """SELECT parcelid, bathroomcnt, bedroomcnt, calculatedbathnbr, 
#             calculatedfinishedsquarefeet, fips, `lotsizesquarefeet`, `garagecarcnt`,
#             `garagetotalsqft`, `propertylandusedesc`, regionidcity, regionidcounty,
#             regionidzip, unitcnt, yearbuilt, `structuretaxvaluedollarcnt`,
#             `taxvaluedollarcnt`, `assessmentyear`, `landtaxvaluedollarcnt`,
#             taxamount, logerror, `transactiondate` FROM properties_2017
#             JOIN predictions_2017 USING (parcelid)
#             JOIN propertylandusetype USING (propertylandusetypeid);"""

SyntaxError: invalid syntax (<ipython-input-2-7833088b626d>, line 3)

In [9]:
df = acquire('zillow')

In [10]:
df.head()

,bedroom,bathroom,square_feet,tax_amount,home_value,property_type,fips
0,3.0,2.0,1458.0,2319.90,136104.0,Single Family Residential,6037.0
1,2.0,1.0,1421.0,543.69,35606.0,Single Family Residential,6037.0
2,3.0,2.0,1650.0,7673.19,614000.0,Single Family Residential,6037.0
3,2.0,1.0,693.0,3267.47,274237.0,Single Family Residential,6037.0
4,3.0,2.0,1108.0,5990.50,486866.0,Single Family Residential,6037.0

In [ ]:
mvp = df('bathroomcnt', 'bedroomcnt', 'calculatedfinishedsquarefeet','taxvaluedollarcnt')sgdf

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14893 entries, 0 to 14892
Data columns (total 7 columns):
bedroom          14893 non-null float64
bathroom         14893 non-null float64
square_feet      14893 non-null float64
tax_amount       14892 non-null float64
home_value       14893 non-null float64
property_type    14893 non-null object
fips             14893 non-null float64
dtypes: float64(6), object(1)
memory usage: 814.6+ KB

In [ ]:
#since bathroomcount has zero non-nun nulls and below is ~= 0 we can drop calculatedbathnbr.mean()
df.calculatedbathnbr.mean() - df.bathroomcnt.mean()

In [ ]:
#proving that every assessment comes from same year
df.assessmentyear.value_counts()

In [ ]:
def mvp_df(df=df):
    df.calculatedfinishedsquarefeet.dropna(inplace = True)
    df = df.drop(columns=['unitcnt', 'yearbuilt', 'garagecarcnt', 'garagetotalsqft', 'calculatedbathnbr', 'lotsizesquarefeet', 'assessmentyear'])
    return df

In [ ]:
df = mvp_df(df)

In [ ]:
df.info()

In [ ]:
df.propertylandusedesc.value_counts()

In [ ]:
df.fips.value_counts()

In [ ]:
df.regionidcounty.value_counts()

In [ ]:
df.bathroomcnt.value_counts()

In [ ]:
df.bedroomcnt.value_counts()

In [ ]:
df[df.bedroomcnt == 0].calculatedfinishedsquarefeet.value_counts()

In [ ]:
df[df.bedroomcnt == 0].propertylandusedesc.value_counts()

In [ ]:
df.regionidzip.value_counts()

In [ ]:
(df.taxvaluedollarcnt > 0).sum()